@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/css/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Miltonian+Tattoo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-description-artNet">
        <h1 class="figura" >ArtNet</h1>
        <div class="description-artNet">
            <h2 style="font-size: 60px">🔑Bienvenido</h2>

            <h3>
                <em>
                    Accede a tu cuenta para explorar murales, interactuar con la 
                    comunidad y descubrir el arte urbano de Colombia. 🎨✨
                </em>
            </h3>
            <div style="font-size:30px;">--------------------------------------</div>
        </div>
    </div>
    <div class="Login">
        <div class="tittle-form">Iniciar Sesion</div>
        <form class="form">
 
                <input class= "input-form"type="email"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Correo">
  
                <input type="password" class="input-form" id="exampleInputPassword1"   placeholder="Contraseña" >
        
            <button type="submit" class="button-form" >Iniciar</button>

        </form>
        <a href="https://www.ejemplo.com">¿Olvidaste tu contraseña?</a>
        <div style="font-size:30px;">------------------------------</div>
    </div>
    
</body>
</html>