@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/css/Account.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Miltonian+Tattoo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-description-artNet">
        <h1 class="figura">ArtNet</h1>
        <div class="description-artNet">
            <h3>
                <em>
                    🎨 Explora el arte urbano 🌆

                    Descubre murales de distintas ciudades, comenta, reacciona y, si eres artista, comparte tus propias obras.

                    ¡Únete a la comunidad! ✨
                </em>
            </h3>
            <div style="font-size:30px;">--------------------------------------</div>
        </div>
    </div>
    <div class="form_container">
        <div class="tittle-form" style="margin-top : 70px">Registrarse</div>
        <form class="form">

            <input class="input-form" type="text" id="exampleInputEmail1" placeholder="Apodo">

            <input class="input-form" type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo">

            <input type="password" class="input-form" id="exampleInputPassword1" placeholder="Contraseña">

            <button type="submit" class="button-form">Iniciar</button>

        </form>
        <a href="https://www.ejemplo.com">¿Olvidaste tu contraseña?</a>
        <div style="font-size:30px;">------------------------------</div>
    </div>

</body>
</html>
